.footer {
  background-color: var(--bg-darker);
  color: var(--font-darker);

  padding: 4.4rem 2.4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  column-gap: 1.2rem;
}

.logoCopyright {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 300;
}

footer > *:first-child {
  justify-self: start;
}

footer > *:last-child {
  justify-self: end;
}

/* 1024px */
@media (max-width: 64em) {
  footer > *:first-child,
  footer > *:last-child {
    justify-self: center;
  }
}
