.footer {
  background-color: var(--bg-darker);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 0 2.4rem;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: stretch;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 100%;
  overflow: clip;
  padding: 4.4rem 0;
  box-sizing: border-box;
  width: 17.9rem;
  align-items: flex-start;
}

.logo {
  height: 3.2rem;
  width: 9.7rem;
  position: relative;
}

.copyright {
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--font-darker);
  line-height: normal;
}

.title {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 2rem;
  color: var(--font-darker);
  line-height: normal;
  height: 2rem;
  width: 12.6rem;
  margin: 0;
  white-space: pre-wrap;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: clip;
  width: 100%;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 1.6rem;
  line-height: normal;
  color: var(--font-darker);
}

.item {
  margin: 0;
  width: 100%;
  white-space: pre-wrap;
}

.section:first-child .container {
  width: auto;
}

.section:not(:first-child) .container {
  width: 17.9rem;
}
