.not-found {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24rem;

  h2 {
    color: var(--white);
    font-size: 9.2rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
  }

  p {
    font-size: 2.4rem;
    font-weight: 300;
  }
}
