.mainLayout {
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 30rem 1fr;
}

.mainLayout > header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mainLayout > aside {
  grid-area: sidebar;
}

.mainLayout > footer {
  grid-area: footer;
}

.mainLayout > main {
  grid-area: content;
}

/* 1200px */
@media (max-width: 75em) {
  .mainLayout {
    grid-template-columns: 27rem 1fr;
  }
}

/* 1024px */
@media (max-width: 64em) {
  .mainLayout {
    grid-template-columns: 0rem 1fr;
  }

  .mainLayout > aside {
    display: none;
  }
}
