.mainLayout {
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 30rem 1fr 1fr;
}

.mainLayout > header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mainLayout > aside {
  grid-area: sidebar;
}

.mainLayout > footer {
  grid-area: footer;
}

.mainLayout > main {
  grid-area: content;
}
