.main-container {
  padding: 3.2rem 12rem;
}

.main-container > h2 {
  color: var(--white);
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.order-container {
  display: grid;
  grid-template-columns: 3fr minmax(32rem, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1.2rem 2.4rem;
}

.order-form {
  grid-row: 1/3;
}

.xp {
  grid-column: 2/3;
}

.summary {
  grid-column: 2/3;
}

/* 1024px */
@media (max-width: 64rem) {
  .order-container {
    grid-template-columns: 1fr;

    .order-form,
    .xp,
    .summary {
      grid-row: auto;
      grid-column: auto;
      padding: 2.4rem;
    }
  }

  .order-form {
    margin-bottom: 3.6rem;
  }
}
