.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;

  & > button > svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  & > p {
    color: var(--white);
    font-size: 2.4rem;
  }

  & > div {
    width: 3.6rem;
    height: 3.2rem;
  }
}

.wrapper {
  padding: 0 1.2rem 1.2rem;
  overflow-y: auto;
  scrollbar-width: none;
}
