@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --white: #f1f3f5;
  --green: #2f9e44;
  --red: #f03e3e;

  --bg-main: #212536;
  --bg-darker: #1b1d2d;
  --bg-darkest: #13141f;

  --ui-main: #373b4a;
  --ui-darker: #323442;
  --ui-darkest: #2c2f3b;
  --ui-bright: #4b4f5c;
  --ui-bright-hover: #6f727d;

  --font-main: #bbbbc0;
  --font-main-hover: #96969a;
  --font-darker: #838386;
  --font-darker-hover: #69696b;

  --accent-main: #364fc7;
  --accent-hover: #2b3f9f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-main);
  color: var(--font-main);
  line-height: normal;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--ui-main);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--ui-bright);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--ui-bright-hover);
}
