@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --white: #f1f3f5;

  --bg-main: #212536;
  --bg-darker: #1b1d2d;
  --bg-darkest: #13141f;

  --ui-darker: #323442;

  --font-main: #bbbbc0;

  --accent-main: #364fc7;
  --accent-hover: #2b3f9f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-main);
  color: var(--font-main);
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
