.sidebar {
  background-color: var(--bg-darker);
  position: relative;
  transition: transform 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2.4rem;
  gap: 2.4rem;
  position: sticky;
  top: 8rem;
}

/* 1024px */
@media (max-width: 64em) {
  .sidebar {
    width: 30rem;
    position: fixed;
    top: 8rem;
    height: calc(100vh - 8rem);
    z-index: 5;
    transform: translateX(0);

    .container {
      height: 100%;
      overflow-y: scroll;
      overscroll-behavior: contain;
    }
  }

  .sidebar.mobile-closed {
    transform: translateX(-100%);
  }
}
