.sidebar {
  background-color: var(--bg-darker);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2.4rem;
  gap: 2.4rem;
  position: sticky;
  top: 8rem;
}
