.header {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-darkest);
  padding: 0 4.8rem;
  justify-content: space-between;
}

.btnCatalog svg {
  width: 3.2rem;
  height: 3.2rem;
}

.logo {
  margin-right: 8.2rem;
}

.btnSearchContainer {
  display: flex;
  gap: 2.4rem;
  margin-right: auto;
  width: 53.4rem;
}

.profileCartContainer {
  display: flex;
  gap: 2.4rem;
  margin-left: 2.4rem;
}
