.header {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg-darkest);
  padding: 0 4.8rem;
  justify-content: space-between;
}

.btnCatalog svg {
  width: 3.2rem;
  height: 3.2rem;
}

.logo {
  margin-right: 8.2rem;
}

.btnSearchContainer {
  display: flex;
  gap: 2.4rem;
  margin-right: auto;
  width: 53.4rem;
}

.profileCartContainer {
  display: flex;
  gap: 2.4rem;
  margin-left: 2.4rem;
}

/* 1024px */
@media (max-width: 64em) {
  .header {
    padding: 0 2.4rem;
  }

  .logo {
    margin-right: 4rem;
  }

  button.btnCatalog {
    display: none;
  }

  .mobile-btn-nav {
    margin-right: 1.8rem;

    svg {
      fill: var(--white);
      width: 4.4rem;
      height: 4.4rem;
    }
  }
}
